extends layout

block content
  div(id="links")
  div(id="user")
  //- a(href="/login.html" id = "login") Login
  //- br
  //- a(href="/register.html" id = "register") Register
  //- br
  //- button(id="logout" onclick="logOut()") Logout
  //- br
  //- p(id="email")
  script(src="/javascripts/index.js")